@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Do Hyeon", sans-serif;
}

.app-body {
    width: 1200px;
    min-width: 800px;
}
.app-header {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.app-header > h1 {
    width: 95px;
    font-size: 18px;
}
.app-header > h1:first-child {
    margin-left: 10px;
}
.app-header > h1:last-child {
    margin-right: 10px;
    text-align: right;
}
.app-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(151, 189, 200);
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.title-lable,
.detail-lable {
    margin: 0 10px 0 20px;
}
.app-input button {
    margin-right: 10px;
    background-color: rgb(38, 154, 23);
    width: 160px;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
}
.app-input button:hover {
    background-color: rgb(16, 114, 3);
}
input {
    margin: 0;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    text-indent: 1em;
}

.tab-body {
    margin: 10px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.done-body {
    margin: 10px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.user-tab {
    width: 250px;
    height: 130px;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    text-align: left;
    border: 4px solid rgba(38, 154, 23, 0.338);
    border-radius: 20px;
}
.user-tab:hover {
    width: 253px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgba(38, 154, 23, 0.69);
}
.tab-title {
    font-size: 18px;
}
.tab-detail {
    margin-top: 10px;
    font-size: 14px;
}
.btns {
    margin-top: 8px;
    display: flex;
    gap: 10px;
}

.btns > button:first-child {
    background-color: rgb(255, 122, 122);
    color: white;
    border: none;
    padding: 8px 10px 10px 10px;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.btns > button:first-child:hover {
    background-color: rgb(244, 45, 45);
}

.btns > button:last-child {
    background-color: rgb(37, 184, 200);
    color: white;
    border: none;
    padding: 8px 10px 10px 10px;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.btns > button:last-child:hover {
    background-color: rgb(8, 161, 212);
}
